*, ::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --windowGray: rgba(138, 138, 138, 0.329);
    --bgGray: rgba(83, 83, 83, 0.534);
    --border: rgb(0, 0, 0);
    --hover: rgb(255, 255, 255);
    --buttonColor: rgb(48, 48, 48);
    --text: rgb(255, 255, 255);
    --correct: green;
    --wrong: crimson;
}

body {
    height: 100vh;
    width: 100vw;
    /* I wanted to implement some flashy looks */
    background: linear-gradient(-45deg, black, crimson, orange, yellow, green, blue, purple, black);
    background-size: 300% 300%;
    animation: change 10s ease-in-out infinite;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

/* needed for the gradient background animation */
@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

h1 {
    color: var(--text);
}

h2 {
    color: var(--text);
}

h3 {
    color: var(--text); 
}

.quizCard {
    border: 4px solid black;
    border-radius: 30px;
    box-shadow: 5px 5px 20px 2px;
    background-color: var(--bgGray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    max-width: 100%;
    padding: 10px
}

.topWindows {
    display: flex;
    justify-content: space-around;
    width: 150px;

}

.timer, .viewHighScore {
    border: 4px solid var(--border);
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px;
    margin: 15px;
    padding: 15px;
    background-color: var(--windowGray);
    text-align: center;
}

.countdown {
    color: crimson;
}

.beginButtons {
    display: grid;
    border-radius: 30px;
    margin: 15px;
}

.startQuizButton {
    border: 3px solid black;
    border-radius: 15px;
    width: 150px;
    height: 35px;
    background-color: var(--buttonColor);
    box-shadow: 1px 1px 5px 1px;
}

.nextButton {
    border: 3px solid var(--border);
    border-radius: 15px;
    width: 150px;
    height: 35px;
    background-color: var(--buttonColor);
    box-shadow: 1px 1px 5px 1px;
}

.quizQuestion {
    background-color: var(--windowGray);
    border: 4px solid var(--border);
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px;
    margin: 15px;
    padding: 25px;
}

.answerButtons {
    display: grid;
    grid-template: auto auto / auto auto;
    gap: 10px;
}

.button {
    border: 3px solid var(--border);
    border-radius: 15px;
    width: 200px;
    height: 75px;
    background-color: var(--buttonColor);
    font-size: 25px;
    font-weight: bold;
    box-shadow: 1px 1px 5px 1px;
}

.button:hover, .startQuizButton:hover, .nextButton:hover  {
    border-color: var(--hover);
}

#button1 {

}

#button2 {

}

#button3 {

}

#button4 {

}

.button.correct {
    background-color: var(--correct);
}

.button.wrong {
    background-color: var(--wrong);
}

.hide {
    display: none;
}