*, ::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --windowGray: rgba(138, 138, 138, 0.329);
    --bgGray: rgba(83, 83, 83, 0.534);
    --border: rgb(0, 0, 0);
    --hover: rgb(255, 255, 255);
    --buttonColor: rgb(48, 48, 48);
    --text: rgb(255, 255, 255);
    --correct: green;
    --wrong: crimson;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, black, crimson, orange, yellow, green, blue, purple, black);
    background-size: 300% 300%;
    animation: change 10s ease-in-out infinite;
    display: flex;
    flex-direction: column;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

h1, h2, h3 {
    color: var(--text);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

.header {
    display: flex;
    justify-content: space-between;
    /* margin-top: 10px;*/
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.534);
    border: 6px solid var(--border);
}

.highScore {
    margin-left: 15px;
    border: 4px solid var(--border);
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px;
    background-color: var(--windowGray);
    display: flex;
    align-items: center;
    padding: 10px;
}

.projectName {
    border: 4px solid var(--border);
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px;
    background-color: var(--windowGray);
    display: flex;
    align-items: center;
    padding: 10px;
}

.timer {
    margin-right: 15px;
    border: 4px solid var(--border);
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px;
    background-color: var(--windowGray);
    display: flex;
    align-items: center;
    text-align: right;
    padding: 10px;
}

.countdown {
    font-size: 24px;
    color: var(--wrong);
}

.mainCard {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 75%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.quizCard {
    border: 4px solid black;
    border-radius: 30px;
    box-shadow: 5px 5px 20px 2px;
    background-color: var(--bgGray);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 600px;
    max-width: 75%;
    padding: 10px;
}

.button {
    border: 3px solid var(--border);
    border-radius: 15px;
    width: 200px;
    height: 50px;
    background-color: var(--buttonColor);
    font-weight: bold;
    box-shadow: 1px 1px 5px 1px;
}

.messageBox {
    background-color: var(--windowGray);
    border: 4px solid var(--border);
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px;
    margin: 15px;
    padding: 25px;
    width: 90%;
}

.questionBox {
    color: var(--text);
}

.answerButtons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hide {
    display: none;
}

.button:hover {
    border-color: var(--hover);
}