/* setting some basic css resets */
*, ::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

/* creating reusable variables */
:root {
    --windowGray: rgba(138, 138, 138, 0.329);
    --bgGray: rgba(83, 83, 83, 0.534);
    --border: rgb(0, 0, 0);
    --hover: rgb(255, 255, 0);
    --buttonColor: rgba(48, 48, 48, 0.472);
    --text: rgb(255, 255, 255);
    --correct: green;
    --wrong: crimson;
}

/* decided to make the background "pretty" using animation with color gradients */
body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, black, crimson, orange, yellow, green, blue, purple, black);
    background-size: 300% 300%;
    animation: change 10s ease-in-out infinite;
    display: flex;
    flex-direction: column;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

h1, h2, h3, h4 {
    color: white;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.534);
    border: 6px solid var(--border);
    width: 100vw;
}

.highScore {
    margin-left: 15px;
    border: 4px solid var(--border);
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px;
    background-color: var(--windowGray);
    display: flex;
    align-items: center;
    padding: 10px;
    cursor:pointer;
}

.highScore:hover {
    border-color: var(--hover);
    cursor: pointer;
}

.projectName {
    border: 4px solid var(--border);
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px;
    background-color: var(--windowGray);
    display: flex;
    align-items: center;
    padding: 10px;
}

.timer {
    margin-right: 15px;
    border: 4px solid var(--border);
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px;
    background-color: var(--windowGray);
    display: flex;
    align-items: center;
    text-align: right;
    padding: 10px;
}

.countdown {
    font-size: 24px;
    color: var(--wrong);
}

.mainCard {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 75%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.quizCard {
    border: 4px solid black;
    border-radius: 30px;
    box-shadow: 5px 5px 20px 2px;
    background-color: var(--bgGray);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 600px;
    max-width: 75%;
    padding: 10px;
}

.button {
    border: 3px solid var(--border);
    border-radius: 15px;
    width: 200px;
    height: 50px;
    background-color: var(--buttonColor);
    color: white;
    margin: 10px;
}

.messageBox {
    background-color: var(--windowGray);
    border: 4px solid var(--border);
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px;
    margin: 15px;
    padding: 25px;
    width: 90%;
}

.answerButtons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* hover effect when mouseover clickable buttons/links */
.button:hover {
    cursor: pointer;
    border-color: var(--hover);
} 

.scoreBoardTitle {
    margin-left: 15px;
    border: 4px solid var(--border);
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px;
    background-color: var(--windowGray);
    display: flex;
    align-items: center;
    padding: 10px;
}

#scoreList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#scoreList li {
    color: white;
    font-size: 24px;
}

#titleScreen {
    text-align: center;
}
.returnToMainPage {
    border: 3px solid var(--border);
    border-radius: 15px;
    width: 100px;
    height: 35px;
    background-color: var(--buttonColor);
    margin-top: 10px;
    text-align: center;
}

#endScreen h2, #endScreen p {
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

#initialsInput {
    margin-top: 5px;
    margin-bottom: 5px;
}

#submitBtn {
    border: 2px solid var(--border);
    border-radius: 15px;
    width: 100px;
    height: 30px;
    background-color: var(--buttonColor);
    color: greenyellow;
}

/* setting correct/wrong colors for answer selection class */
.correct {
    background-color: var(--correct);
}
.wrong {
    background-color: var(--wrong);
}

/* using hide/show for some of the display during different sections of the application */
.hide {
    display: none;
}